*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 900;
}
.logo{
    width: 12%;
    margin-left: 50px;
}
header>nav{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.section1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section1>img{
    width: 20%;
}
.section1>div{
    width: 30%;
    margin-right: 200px;
    font-size: 25px;
}
.section1 p{
    margin-top: 30px;
}
.section1 a{
    display: inline-block;
    margin-top: 30px;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}
.section2>h1{
    font-size: 40px;
}
.section2>a{
    font-size: 35px;
    color: black;
    text-decoration: none;
}
.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
}